@model PagedList.IPagedList<NYCshop.Models.CategoryDetailViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .product-image {
        min-height: 208px;
        max-height: 208px;
    }
</style>

<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                </li>
                <li>Ladies</li>
            </ul>

            <div class="box">
                <h1>Ladies</h1>
                <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
            </div>

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Showing <strong>12</strong> of <strong>25</strong> products
                    </div>

                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number">
                                        <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Price</option>
                                            <option>Name</option>
                                            <option>Sales first</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products">
                @for(int i = 0; i < Model.Count; i++)
                {
                     <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="@Url.Action("Detail", "Product", new { Model[i].ProductID })">
                                            <img src="@Model[i].ListImages[0]" alt="" class="img-responsive product-image">
                                        </a>
                                    </div>

                                    <div class="back">
                                        <a href="@Url.Action("Detail", "Product", new { Model[i].ProductID })">
                                            @if (@Model[i].ListImages.Count > 1)
                                            {
                                                <img src="@Model[i].ListImages[1]" alt="" class="img-responsive product-image">
                                            }
                                            else
                                            {
                                                <img src="@Model[i].ListImages[0]" alt="" class="img-responsive product-image">
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Action("Detail", "Product", new { Model[i].ProductID })" class="invisible">
                                @if (@Model[i].ListImages.Count > 0)
                                {
                                    <img src="@Model[i].ListImages[0]" alt="" class="img-responsive product-image">
                                }
                            </a>
                            <div class="text">
                                <h3><a href="@Url.Action("Detail", "Product", new { Model[i].ProductID })">@Model[i].ProductName</a></h3>
                                <p class="price">@string.Format("{0:0,0}", Model[i].Price)<u>đ</u></p>
                                <p class="buttons">
                                    <a href="@Url.Action("Detail", "Product", new { Model[i].ProductID })" class="btn btn-default">Xem chi tiết</a>
                                    <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào wishlist</a>
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                }
            </div>
            <!-- /.products -->

            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("", new { page=page, categoryID = @ViewBag.CategoryID }))
        </div>
        <!-- /.col-md-9 -->

    </div>
    <!-- /.container -->
</div>