@{

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/extra-css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="top">
        <div class="container">
            <div class="col-md-6" data-animate="fadeInDown">
                @*tìm kiếm*@
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>

    <!-- *** TOP BAR END *** -->
    <!-- *** NAVBAR ***
    _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="@Url.Action("Index", "Home")" data-animate-hover="bounce">
                    <img src="~/Images/Icons/logoweb.png" alt="Obaju logo" class="hidden-xs">
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!--/.navbar-header -->
            @{Html.RenderAction("TopMenu", "Layout");}

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->
    <!-- *** NAVBAR END *** -->

    <div id="all">
        <div id="content">
            <div class="container">

                @RenderBody()
            </div>
        </div>
    </div>
    <!-- *** FOOTER ***
    _________________________________________________________ -->
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Các trang</h4>

                    <ul>
                        <li>
                            <a href="text.html">About us</a>
                        </li>
                        <li>
                            <a href="contact.html">Liên hệ</a>
                        </li>
                    </ul>

                    <hr>

                    <h4>Người dùng</h4>

                    <ul>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a>
                        </li>
                        <li>
                            <a href="register.html">Đăng ký</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Các loại sản phẩm hot nhất</h4>

                    <h5>Thú cưng</h5>

                    <ul>
                        <li>
                            <a href="category.html">Chó</a>
                        </li>
                        <li>
                            <a href="category.html">Chim</a>
                        </li>
                        <li>
                            <a href="category.html">Gà</a>
                        </li>
                    </ul>

                    <h5>Thời trang, đồ dùng cá nhân</h5>
                    <ul>
                        <li>
                            <a href="category.html">Quần áo</a>
                        </li>
                        <li>
                            <a href="category.html">Giày dép</a>
                        </li>
                        <li>
                            <a href="category.html">Nước hoa</a>
                        </li>
                        <li>
                            <a href="category.html">Đồng hồ</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                    <h4>Nhận tin mới nhất</h4>

                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                <button class="btn btn-default" type="button">Subscribe!</button>

                            </span>

                        </div>
                        <!-- /input-group -->
                    </form>

                    <hr>

                    <h4>Giữ liên lạc</h4>

                    <p class="social">
                        <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->
    <!-- *** FOOTER END *** -->
            @*@Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")*@
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/validate")
            @Scripts.Render("~/bundles/extra-js")
            @RenderSection("scripts", required: false)
</body>
</html>

<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/waypoints.min.js"></script>
<script src="~/Scripts/modernizr.js"></script>
<script src="~/Scripts/bootstrap-hover-dropdown.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/front.js"></script>