@model NYCshop.ViewModels.UserViewModel.ConfirmPasswordViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa sản phẩm</h4>
            </div>
            @using (Html.BeginForm("ConfirmPassword", "Account", FormMethod.Post, new { id = "confim-password-form", onkeydown = "return event.keyCode!=13" }))
            {
                @Html.HiddenFor(model => model.Username)
                @Html.HiddenFor(model => model.CorrectPassword)
                if (!ViewData.ModelState.IsValidField(""))
                {
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @Html.ValidationSummary(true)
                    </div>
                }
                <div class="modal-body">
                    <p>Xác nhận mật khẩu để tiếp tục</p>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="onclickConfirmPassword()">Đồng ý</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                </div>
            }
        </div>

    </div>
</div>

<script>
    function onclickConfirmPassword() {
        if ($('#Password').val() == "")
            alert("Bạn chưa nhập mật khẩu");
        else {
            var password = CryptoJS.MD5($('#Password').val());
            var correctPassword = $('#CorrectPassword').val();
            if (password != correctPassword)
                alert('Mật khẩu không đúng');
            else $('#my-form').submit();
        }
    }
</script>