@{

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/owl.theme.css" rel="stylesheet">
    <link href="~/Content/style.orange.css" rel="stylesheet" id="theme-stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/br.css" rel="stylesheet">
    <link href="~/Content/AnimationFadedSlide.css" rel="stylesheet">

    <!-- Logo web-->
    <link rel="shortcut icon" href="~/Images/Icons/logo.png" />
    <!-- br image -->
    

    <style>
        body {
            background-image: url("/Images/img2.jpg");
            background-repeat: repeat-y;
            background-attachment: fixed;
            background-size: 100%;
        }
    </style>
</head>
<body>

    <!-- TOP BAR -->
    <div id="top">
        <div class="container">
            <div class="col-md-6">
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
    <!-- *** TOP BAR END *** -->
    <!-- *** NAVBAR ***-->
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="@Url.Action("Index", "Home")" data-animate-hover="bounce">
                    <img src="~/Images/Icons/logoweb2.png" alt="Obaju logo" class="hidden-xs">
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!--/.navbar-header -->
            @{Html.RenderAction("TopMenu", "Layout");}
            @{Html.RenderAction("ViewSearch", "Search");}
        </div>
        <!-- /.container -->
    </div>
    <!-- *** NAVBAR END *** -->

    <!-- ANIMATION BR-->
    @*<div class="w3-content w3-section" style="max-width:100%">

        <img class="mySlides w3-animate-fading" src="~/Images/Slides/Love-Breakup-Status-2.jpg" style="width:100%">
        <img class="mySlides w3-animate-fading" src="~/Images/Slides/Love-Breakup-Status-5.jpg" style="width:100%">
        <img class="mySlides w3-animate-fading" src="~/Images/Slides/Love-Breakup-Status-3.jpg" style="width:100%">
        <img class="mySlides w3-animate-fading" src="~/Images/Slides/Love-Breakup-Status-4.jpg" style="width:100%">
    </div>*@
    <!-- ANIMATION BR END -->

    <div id="all">
        <div id="content">
            <div class="hero">
                <!-- Snow -->
                <div class="snow">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1536" preserveAspectRatio="xMidYMax slice">
                        <g fill="#FFF" fill-opacity=".6" transform="translate(55 42)">
                            <g id="snow-bottom-layer">
                                <ellipse cx="6" cy="1009.5" rx="6" ry="5.5" />
                                <ellipse cx="138" cy="1110.5" rx="6" ry="5.5" />
                                <ellipse cx="398" cy="1055.5" rx="6" ry="5.5" />
                                <ellipse cx="719" cy="1284.5" rx="6" ry="5.5" />
                                <ellipse cx="760" cy="1155.5" rx="6" ry="5.5" />
                                <ellipse cx="635" cy="1459.5" rx="6" ry="5.5" />
                                <ellipse cx="478" cy="1335.5" rx="6" ry="5.5" />
                                <ellipse cx="322" cy="1414.5" rx="6" ry="5.5" />
                                <ellipse cx="247" cy="1234.5" rx="6" ry="5.5" />
                                <ellipse cx="154" cy="1425.5" rx="6" ry="5.5" />
                                <ellipse cx="731" cy="773.5" rx="6" ry="5.5" />
                                <ellipse cx="599" cy="874.5" rx="6" ry="5.5" />
                                <ellipse cx="339" cy="819.5" rx="6" ry="5.5" />
                                <ellipse cx="239" cy="1004.5" rx="6" ry="5.5" />
                                <ellipse cx="113" cy="863.5" rx="6" ry="5.5" />
                                <ellipse cx="102" cy="1223.5" rx="6" ry="5.5" />
                                <ellipse cx="395" cy="1155.5" rx="6" ry="5.5" />
                                <ellipse cx="826" cy="943.5" rx="6" ry="5.5" />
                                <ellipse cx="626" cy="1054.5" rx="6" ry="5.5" />
                                <ellipse cx="887" cy="1366.5" rx="6" ry="5.5" />
                                <ellipse cx="6" cy="241.5" rx="6" ry="5.5" />
                                <ellipse cx="138" cy="342.5" rx="6" ry="5.5" />
                                <ellipse cx="398" cy="287.5" rx="6" ry="5.5" />
                                <ellipse cx="719" cy="516.5" rx="6" ry="5.5" />
                                <ellipse cx="760" cy="387.5" rx="6" ry="5.5" />
                                <ellipse cx="635" cy="691.5" rx="6" ry="5.5" />
                                <ellipse cx="478" cy="567.5" rx="6" ry="5.5" />
                                <ellipse cx="322" cy="646.5" rx="6" ry="5.5" />
                                <ellipse cx="247" cy="466.5" rx="6" ry="5.5" />
                                <ellipse cx="154" cy="657.5" rx="6" ry="5.5" />
                                <ellipse cx="731" cy="5.5" rx="6" ry="5.5" />
                                <ellipse cx="599" cy="106.5" rx="6" ry="5.5" />
                                <ellipse cx="339" cy="51.5" rx="6" ry="5.5" />
                                <ellipse cx="239" cy="236.5" rx="6" ry="5.5" />
                                <ellipse cx="113" cy="95.5" rx="6" ry="5.5" />
                                <ellipse cx="102" cy="455.5" rx="6" ry="5.5" />
                                <ellipse cx="395" cy="387.5" rx="6" ry="5.5" />
                                <ellipse cx="826" cy="175.5" rx="6" ry="5.5" />
                                <ellipse cx="626" cy="286.5" rx="6" ry="5.5" />
                                <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
                            </g>
                        </g>
                        <g fill="#FFF" fill-opacity=".4" transform="translate(65 63)">
                            <g id="snow-top-layer">
                                <circle cx="8" cy="776" r="8" />
                                <circle cx="189" cy="925" r="8" />
                                <circle cx="548" cy="844" r="8" />
                                <circle cx="685" cy="1115" r="8" />
                                <circle cx="858" cy="909" r="8" />
                                <circle cx="874" cy="1438" r="8" transform="rotate(180 874 1438)" />
                                <circle cx="657" cy="1256" r="8" transform="rotate(180 657 1256)" />
                                <circle cx="443" cy="1372" r="8" transform="rotate(180 443 1372)" />
                                <circle cx="339" cy="1107" r="8" transform="rotate(180 339 1107)" />
                                <circle cx="24" cy="1305" r="8" transform="rotate(180 24 1305)" />
                                <circle cx="8" cy="8" r="8" />
                                <circle cx="189" cy="157" r="8" />
                                <circle cx="548" cy="76" r="8" />
                                <circle cx="685" cy="347" r="8" />
                                <circle cx="858" cy="141" r="8" />
                                <circle cx="874" cy="670" r="8" transform="rotate(180 874 670)" />
                                <circle cx="657" cy="488" r="8" transform="rotate(180 657 488)" />
                                <circle cx="443" cy="604" r="8" transform="rotate(180 443 604)" />
                                <circle cx="339" cy="339" r="8" transform="rotate(180 339 339)" />
                                <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div>
                    <div class="container">

                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- *** FOOTER ***
    _________________________________________________________ -->
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Các trang</h4>

                    <ul>
                        <li>
                            <a href="text.html">About us</a>
                        </li>
                        <li>
                            <a href="contact.html">Liên hệ</a>
                        </li>
                    </ul>

                    <hr>

                    <h4>Người dùng</h4>

                    <ul>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a>
                        </li>
                        <li>
                            <a href="register.html">Đăng ký</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Các loại sản phẩm hot nhất</h4>

                    <h5>Thú cưng</h5>

                    <ul>
                        <li>
                            <a href="category.html">Chó</a>
                        </li>
                        <li>
                            <a href="category.html">Chim</a>
                        </li>
                        <li>
                            <a href="category.html">Gà</a>
                        </li>
                    </ul>

                    <h5>Thời trang, đồ dùng cá nhân</h5>
                    <ul>
                        <li>
                            <a href="category.html">Quần áo</a>
                        </li>
                        <li>
                            <a href="category.html">Giày dép</a>
                        </li>
                        <li>
                            <a href="category.html">Nước hoa</a>
                        </li>
                        <li>
                            <a href="category.html">Đồng hồ</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                    <h4>Nhận tin mới nhất</h4>

                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                <button class="btn btn-default" type="button">Subscribe!</button>

                            </span>

                        </div>
                        <!-- /input-group -->
                    </form>

                    <hr>

                    <h4>Giữ liên lạc</h4>

                    <p class="social">
                        <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->
    <!-- *** FOOTER END *** -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/validate")
    @RenderSection("scripts", required: false)

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 9000);
        }
    </script>

</body>

</html>

<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/waypoints.min.js"></script>
<script src="~/Scripts/modernizr.js"></script>
<script src="~/Scripts/bootstrap-hover-dropdown.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/front.js"></script>
<script src="~/Scripts/respond.min.js"></script>

