<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <!--===============================================================================================-->
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic'>
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <!--===============================================================================================-->

</head>
<body class="animsition">

    <!-- Header -->
    <header class="header1">

        <!--Login-->
        <div class="container">
            <div id="modal" class="popupContainer" style="display:none;">
                <header class="popupHeader">
                    <span class="header_title">Login</span>
                    <span class="modal_close"><i class="fa fa-times"></i></span>
                </header>

                <section class="popupBody">

                    <!-- Username & Password Login form -->
                    <div class="user_login">
                        <form>
                            <label>Email</label>
                            <input class="s-text24 bg6 w-full p-t-20" type="text" name="mail" placeholder=""/>
                            <span class="effect1-line"></span>
                            <br />

                            <label>Password</label>
                            <input class="s-text24 bg6 w-full p-t-20" type="password" name="password" placeholder="" />
                            <br />

                            <div class="checkbox">
                                <input id="remember" type="checkbox" />
                                <label for="remember">Remember me on this computer</label>
                            </div>

                            <div class="action_btns">
                                <div class="one_half"><a href="#" class="btn btn_register">Sign up</a></div>
                                <div class="one_half last"><a href="#" class="btn btn_login">Login</a></div>
                            </div>
                        </form>

                        <a href="#" class="forgot_password">Forgot password?</a>
                    </div>

                    <!-- Register Form -->
                    <div class="user_register">
                        <form>
                            <label>Full Name</label>
                            <input class="s-text24 bg6 w-full p-t-20" type="text" name="name" placeholder="" />
                            <br />

                            <label>Email Address</label>
                            <input class="s-text24 bg6 w-full p-t-20" type="text" name="mail" placeholder="" />
                            <br />

                            <label>Phone number</label>
                            <input class="s-text24 bg6 w-full p-t-20" type="text" name="password" placeholder="" />
                            <br />

                            <label>Password</label>
                            <input class="s-text24 bg6 w-full p-t-20" type="password" name="password" placeholder="" />
                            <br />

                            <div class="checkbox">
                                <input id="send_updates" type="checkbox" />
                                <label for="send_updates">Send me occasional email updates</label>
                            </div>

                            <div class="action_btns">
                                <div class="one_half"><a href="#" class="btn btn_login">Log in</a></div>
                                <div class="one_half last"><a href="#" class="btn btn_register">Sign up</a></div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>

        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="wrap_header2">

                <!-- Logo -->
                <a href="/" class="logo">
                    <img src="images/icons/logoweb.png" alt="IMG-LOGO">
                </a>

                <!---Search--->
                <form>
                    <div class="effect1 w-size16">

                        <input class="s-text23 bgwhite w-full p-t-20" type="text" name="search" placeholder="Find somethings ...">
                        <span class="effect1-line"></span>
                    </div>

                </form>

                <!-- Menu -->
                <div class="header-icons">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Contact", "Index", "Contact")
                            </li>
                            <li>
                                @Html.ActionLink("About", "Index", "About")
                            </li>
                            <li>
                                @Html.ActionLink("Help", "Index", "Help")
                            </li>

                            <li>
                                <a id="modal_trigger" href="#modal" >Login/Register</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap_header_mobile">

            <!-- Logo moblie -->
            <a href="/" class="logo-mobile">
                <img src="images/icons/logoweb.png" alt="IMG-LOGO">
            </a>

            <!-- Button show menu -->
            <div class="btn-show-menu">
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="wrap-side-menu">
            <nav class="side-menu">
                <ul class="main-menu">
                    <li class="item-menu-mobile">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="item-menu-mobile">
                        @Html.ActionLink("Contact", "Index", "Contact")
                    </li>
                    <li class="item-menu-mobile">
                        @Html.ActionLink("About", "Index", "About")
                    </li>

                    <li class="item-menu-mobile">
                        @Html.ActionLink("Help", "Index", "Help")
                    </li>
                    <li class="item-menu-mobile">
                        <a id="modal_trigger" href="#modal">Login/Register</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!---Search Mobile--->
        <div>
            <form>
                <div class="effect1 w-size16">

                    <input class="s-text23 bgwhite w-full p-t-20" type="text" name="search" placeholder="Find somethings ...">
                    <span class="effect1-line"></span>
                </div>

            </form>
        </div>

    </header>

    <div>
        @RenderBody()


        <!-- Footer -->
        <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
            <div class="flex-w p-b-90">

                <!--Get In Touch-->
                <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">

                    <h4 class="s-text12 p-b-30">
                        GET IN TOUCH
                    </h4>

                    <div>
                        <p class="s-text7 w-size27">
                            Any questions? Let us know in store at 6 Quarter, Linh Trung Ward, Thu Duc District, Ho Chi Minh city or call us on (+84) 123456789
                        </p>

                        <div class="flex-m p-t-30">
                            <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                            <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                            <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                            <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                            <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                        </div>
                    </div>
                </div>

                <!--CATEGORIES-->
                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30">
                        Categories
                    </h4>

                    <ul>
                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Jewelry
                            </a>
                        </li>
                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Vehicles
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Books
                            </a>
                        </li>
                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Handmades
                            </a>
                        </li>
                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Others
                            </a>
                        </li>
                    </ul>
                </div>

                <!--LINKS-->
                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30">
                        Links
                    </h4>

                    <ul>
                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Home
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                About Us
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Contact Us
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Helps
                            </a>
                        </li>
                    </ul>
                </div>

                <!--HELP-->
                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30">
                        Help
                    </h4>

                    <ul>
                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Track Order
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Returns
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Shipping
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>

                <!--NEWSLETTER-->
                <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                    <h4 class="s-text12 p-b-30">
                        Newsletter
                    </h4>

                    <form>
                        <div class="effect1 w-size9">
                            <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                            <span class="effect1-line"></span>
                        </div>

                        <div class="w-size2 p-t-20">
                            <!-- Button -->
                            <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                                Subscribe
                            </button>
                        </div>

                    </form>
                </div>
            </div>

            <!--Copyright-->
            <div class="t-center p-l-15 p-r-15">
                <div class="t-center s-text8 p-t-20">
                    Copyright ©@DateTime.Now.Year All rights reserved.
                </div>
            </div>
        </footer>



        <!-- Back to top -->
        <div class="btn-back-to-top bg0-hov" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            </span>
        </div>

        <!-- Container Selection1 -->
        <div id="dropDownSelect1"></div>
    </div>

        <!--===============================================================================================-->
        <script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script type="text/javascript" src="vendor/select2/select2.min.js"></script>
        <script type="text/javascript">
            $(".selection-1").select2({
                minimumResultsForSearch: 20,
                dropdownParent: $('#dropDownSelect1')
            });
        </script>
        <!--===============================================================================================-->
        <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
        <script type="text/javascript" src="js/slick-custom.js"></script>
        <!--===============================================================================================-->
        <script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
        <!--===============================================================================================-->
        <script type="text/javascript" src="vendor/sweetalert/sweetalert.min.js"></script>
        <script type="text/javascript">
            $('.block2-btn-addcart').each(function () {
                var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
                $(this).on('click', function () {
                    swal(nameProduct, "is added to cart !", "success");
                });
            });

            $('.block2-btn-addwishlist').each(function () {
                var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
                $(this).on('click', function () {
                    swal(nameProduct, "is added to wishlist !", "success");
                });
            });
        </script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.leanModal.min_.js"></script>

        <script type="text/javascript">
                $("#modal_trigger").leanModal({
                    top: 100,
                    overlay: 0.6,
                    closeButton: ".modal_close"
                });

                $(function () {

                    $(".user_login").show();

                    $(".btn_register").click(function () {
                        $(".user_login").hide();
                        $(".user_register").show();
                        $(".header_title").text('Register');

                        return false;
                    });
                    $(".btn_login").click(function () {
                        $(".user_register").hide();
                        $(".user_login").show();
                        $(".header_title").text('Login');
                        return false;
                    });
                });
        </script>


</body>
</html>
