@model NYCshop.ViewModels.UserViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "Đổi mật khẩu";
    ViewBag.ParentActionName = "Index";
    ViewBag.ParentSelectedFunction = "Tài khoản của tôi";
    ViewBag.ChildActionName = "ChangePassword";
    ViewBag.ChildSelectedFunction = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="col-md-9">
    <div class="box">
        <h3>Đổi mật khẩu</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            if (!ViewData.ModelState.IsValidField(""))
            {
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @Html.ValidationSummary(true)
                </div>
            }
            @Html.HiddenFor(model => model.Username)

            if (ViewBag.ChangePasswordMsg != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Thành công!</strong> @ViewBag.ChangePasswordMsg
                </div>
            }

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.OldPassword)
                        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword)
                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
            </div>
                <!-- /.row -->

            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu mật khẩu mới</button>
            </div><br/><br/>
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
