@model List<NYCshop.Models.Category>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div id="main-slider">
            <div class="item">
                <img src="~/Images/Slides/slide1.jpg" alt="" class="img-responsive">
            </div>
            <div class="item">
                <img class="img-responsive" src="~/Images/Slides/slide2.jpg" alt="">
            </div>
            <div class="item">
                <img class="img-responsive" src="~/Images/Slides/slide3.jpg" alt="">
            </div>
        </div>
        <!-- /#main-slider -->
    </div>
</div>

    @foreach (var item in Model)
    {
        <div id="hot">
            <div class="box">
                <div class="container">
                    <div class="col-md-12">
                        <h2>@item.CategoryName</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="container">
                    @{Html.RenderAction("CategoryDetail", "Home", new { @item.CategoryID });}
                </div>
            </div>
        </div>
    }

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/validate")
@Scripts.Render("~/bundles/extra-js")
