@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string childActionName = ViewBag.ChildActionName ?? "";
    string parentActionName = ViewBag.ParentActionName ?? "";
    string childSelectedFunction = ViewBag.ChildSelectedFunction ?? "";
    string parentSelectedFunction = ViewBag.ParentSelectedFunction ?? "";
}

<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action(parentActionName, "User")">@parentSelectedFunction</a>
                </li>
                @if (childActionName != "")
                {
                    if (childActionName != "EditProduct")
                    {
                        <li>
                            <a href="@Url.Action(childActionName, "User")">@childSelectedFunction</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="">@childSelectedFunction</a>
                        </li>
                    }
                }
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Người dùng</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <!--Thiết lập xem mục nào được chọn-->
                        @if(parentActionName.ToLower() == "index")
                        {
                            <li class="active">
                                <a href="@Url.Action("Index", "User")"><i class="fa fa-user"></i> Tài khoản của tôi</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Index", "User")"><i class="fa fa-user"></i> Tài khoản của tôi</a>
                            </li>
                        }
                        
                        @if (parentActionName.ToLower() == "mypost")
                        {
                            <li class="active">
                                <a href="@Url.Action("MyPost", "User")"><i class="fa fa-list"></i> Quản lý tin</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("MyPost", "User")"><i class="fa fa-list"></i> Quản lý tin</a>
                            </li>
                        }
                        
                        @if (parentActionName.ToLower() == "mywishlist")
                        {
                            <li class="active">
                                <a href="customer-wishlist.html"><i class="fa fa-heart"></i> My wishlist</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="customer-wishlist.html"><i class="fa fa-heart"></i> My wishlist</a>
                            </li>
                        }
                        <!--Thiết lập xem mục nào được chọn-->
                        
                        <li id="log-off">
                            <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        @RenderBody()

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
